---

---

<div
  class="bg-slate-100 dark:bg-canvas-dark text-main-primary-200 dark:text-text_white font-sans"
>
  <div class="min-h-screen w-full max-w-5xl mx-auto">
    <main class="px-8 py-4">
      <slot />
    </main>
  </div>
</div>
