---

---

<div class="bg-canvas text-main-primary-200 dark:text-text_white font-sans">
  <div class="min-h-screen w-full max-w-5xl mx-auto">
    <main class="">
      <slot />
    </main>
  </div>
</div>
