---

---

<div class="flex min-h-screen font-sans p-4 justify-center">
  <nav class="flex flex-col">
    <a>Prayer Time</a>
    <a>Currency Converter</a>
    <a>TimeZone Converter</a>
    <a>Unit Converter</a>
    <a>Net Pay Calculator</a>
  </nav>
  <main class="flex items-center flex-col flex-[1_0_0] max-w-5xl">
    <slot />
  </main>
</div>
